.modal-button {
    background: #ffce8d;
    /* display: inline-block; */
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    z-index: 1;
}

.modal-window {
    /* align-items: center; */
    /* background: rgba(0, 0, 0, .7); */
    /* background: #ffce8d; */
    display: flex;
    height: 50%;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;
    /* z-index: 1; */
}

.modal-box {
    align-content: center;
    background: #ffce8d;
    padding: 50px;
    position: fixed;
    text-align: center;
    /* top: 50%;
    left: 50%; */
}